.div1{
    background-color: hsl(0, 0%, 12%);
    height: 600px;
    width: 300px;
    margin-left: 600px;
    margin-top: 100px;
    border-radius: 50px;
}


body{
    background-color: hsl(0, 0%, 8%);
}


img{
    width: 80px;
    border-radius: 50px;
    margin-left: 110px;

}


.h11{
    margin-left: 40px;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    font-family: inter;
    
}


.h3{
    margin-left: 40px;
    color: yellowgreen;
    margin-top: -10px;
    font-family: inter;
}

.p1{
    margin-left: 30px;
    color: white;
    font-family: inter;
}
.div2{
    background-color: hsl(0, 0%, 20%);
    height: 50px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}




.p2{
    margin-left: 100px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    
}

.div3{
    background-color: hsl(0, 0%, 20%);
    height: 50px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}
.p3{
    margin-left: 70px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    
}

.div4{
    background-color: hsl(0, 0%, 20%);
    height: 50px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
}
.p4{
    margin-left: 90px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    
}

.div5{
    background-color: hsl(0, 0%, 20%);
    height: 50px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
} 
.p5{
    margin-left: 100px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    
}



.div6{
    background-color: hsl(0, 0%, 20%);
    height: 50px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;  
}
.p6{
    margin-left: 90px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    
}
.div2:hover{
    background: yellowgreen;
}

.div3:hover{
    background: yellowgreen;
}
.div4:hover{
    background: yellowgreen;
}
.div5:hover{
    background: yellowgreen;
}
.div6:hover{
    background: yellowgreen;
}

